body{
    background-image: url('/image/230.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 20%;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    
}
button {
    background-color: #070000;
    color: white;
    border: aliceblue;
    padding: 10px 20px;
    text-align: justify;
    text-decoration: solid;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px; 
    transition-duration: 0.4s;
    position: fixed;
    right: 10px;
    left: 10px;
    bottom: 10px;
    scroll-margin: 10px;
}
p{
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 5%;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
}